<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <base href="http://127.0.0.1:5000/" />
</head>
<body>
    <div>
        增加用户：
        <a href="user/add">增加用户</a>
    </div>
    <div>
        增加产品
        <a href="product/add">增加产品</a>
    </div>
    <div>
        增加公司
        <a href="company/add">增加公司</a>
    </div>
    <div>
        入库：
        <a href="stock/in">入库</a>
    </div>
    <div>
        出库
        <a href="stock/out">出库</a>
    </div>
</body>
</html>