<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <table border="1">
            <thead>
                <th>出库人</th>
                <th>时间</th>
                <th>厂家</th>
                <th>产品</th>
                <th>数量</th>
            </thead>
            <tbody>
                {% for record in stockInList %}
                    <tr>
                        <td>{{ record.uid }}</td>
                        <td>{{ record.date }}</td>
                        <td>{{ record.cid }}</td>
                        <td>{{ record.pid }}</td>
                        <td>{{ record.cnt }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/stock/in", method="POST">
            <div>
                 厂家：<select name="user" id="user">
                    <option></option>
                     <option selected="selected">--请选择出场人-</option>
                    {% for ob in userList%}
                        <option value={{ob.id}}>{{ob.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                 厂家：<select name="company" id="company">
                    <option></option>
                     <option selected="selected">--请选择厂家--</option>
                    {% for ob in companyList%}
                        <option value={{ob.id}}>{{ob.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                产品：<select name="product" id="product">
                    <option></option>
                    <option selected="selected">--请选择产品--</option>
                    {% for ob in productList%}
                        <option value={{ob.id}}>{{ob.name}} - {{ob.info}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                数量：<input type="TEXT", name="cnt"/>
            </div>
            <div>
                <input type="submit" value="提交" />
            </div>
        </form>
    </body>
</html>